.padding-10 {
  padding: 10px;
}

.legendary {
  background: radial-gradient(#d37841,#78371d);
  border: 2px solid #e98d4b;
  overflow: hidden;
}

.epic {
  background: radial-gradient(#b15be2,#4b2483);
  border: 2px solid #e95eff;
  overflow: hidden;
}

.rare {
  background: radial-gradient(#49acf2,#143977);
  border: 2px solid #37d1ff;
  overflow: hidden;
}

.uncommon {
  background: radial-gradient(#60aa3a,#175117);
  border: 2px solid #87e339;
  overflow: hidden;
}


